*{
    cursor: url("../img/pinkcursor.png"), auto; 
}
body {
    background-color: rgb(194, 224, 198);
    /*background-image: url("../img/butterfly+fairy1.gif"); */
    font-family: sans-serif;
    /*cursor: url("../img/pinkcursor.png"), auto! important; */

}

/*.fairypic{
    
    width: 10%;
    height: 10%;
}
<img src="img/importantfairies.png" 
alt="hi" class="fairypic"> */

.page1 {
    background-image: url("../img/woodlandfairieslarge.jpg");
    border: 20px solid rgb(160, 208, 196);
    border-style: ridge;

    text-align: center;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
}

.feedwelcome{
        text-align: center;
        color: black;
        font-size: 30px;
        border: 5px solid rgb(160, 208, 196);
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        padding: 40px;
        background-color: white;
}

.mushroomlogo {
    width: 60%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(255, 244, 149);
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    border: 5px solid rgb(164, 218, 204);
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 40px;
    background-color: white;

}

p {
    color: black; font-size: 35px;


}

ul {
    border: 10px;
    border-color: rgb(250, 245, 245);
    background-color: aliceblue;
    border-style: groove;
    text-align: left;
    margin-right: 40px;
    color: rgb(0, 0, 0);



}

.shoppingbags{
    width: 40%;
    height: 30%;
    margin-left: 70px;

}

.outline {
    border: 10px;
    border-image: url(../img/woodlandfairieslarge.jpg) 4% round;
    background-color: #e1efe0;
    border-style: double;
    margin: 55px;
    padding-left: 5%;
}


.aligngroup {
    display: block;
    background-color: white;
    width: 30%;
    margin-right: 10%;
    border: 10px solid rgb(249, 249, 249);
   /*background-image: ("tinyswanlogo");*/
   border-style: groove;
    


}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
}


.textingmode{
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: none;
    
}



.topofsecondpage {
    border: 5px solid rgb(255, 243, 183);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 15px;
    /*background-color: rgb(255, 244, 149); */
    background-color: transparent;
    border-style:dotted;

    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: none;

}



    /*<img src="img/originalswanproject.gif" alt="the feed logo" class="tinyswanlogo"> */



/* <h2> 
    <img src="..img/butterfly+fairy1.gif" alt="gifwithbutterfly"
   class="gifwithbutterfly">


</h2> */